.resultSection {
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;

    .sectionBox {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}